<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
    <key>CFBundleName</key><string>Plip</string>
    <key>CFBundleDisplayName</key><string>Plip</string>
    <key>CFBundleIdentifier</key><string>com.plip.editor</string>
    <key>CFBundleVersion</key><string>1.0.1</string>
    <key>CFBundleShortVersionString</key><string>1.0.1</string>
    <key>CFBundleExecutable</key><string>Plip</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleIconFile</key><string>PlipIcon.icns</string>
    <key>LSMinimumSystemVersion</key><string>13.0</string>
    <key>NSHighResolutionCapable</key><true/>
    <key>NSPrincipalClass</key><string>NSApplication</string>
    <key>NSHumanReadableCopyright</key><string>Copyright © 2026 Plip contributors.</string>
    <key>CFBundleDocumentTypes</key><array><dict>
        <key>CFBundleTypeName</key><string>Property List</string>
        <key>CFBundleTypeRole</key><string>Editor</string>
        <key>LSHandlerRank</key><string>Alternate</string>
        <key>NSDocumentClass</key><string>PlistDocument</string>
        <key>LSItemContentTypes</key><array><string>com.apple.property-list</string><string>com.apple.xml-property-list</string><string>com.apple.binary-property-list</string></array>
        <key>CFBundleTypeExtensions</key><array><string>plist</string></array>
    </dict></array>
</dict></plist>
